<script src="https://kit.fontawesome.com/b975636d41.js" crossorigin="anonymous"></script>
  <div class="col-xs-3">
  <h2>User info</h2>
   <table class='table'>
    <tr><%= attachment_image_tag user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size:'100x100'%></tr>
    <tr>
    <th>name</th>
    <th><%= user.name %></th>
    </tr>
    <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
    </tr>
  </table>
  <br>
  <div class="row">
   <%= link_to"",edit_user_path(user.id), class: "col-xs-12 btn btn-outline-secondary btn-block fas fa-user-cog"%>
  </div>
  </div>